---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const products = (await getCollection('produk')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <main class="max-w-7xl mx-auto min-h-screen bg-gray-100">
        <div class="flex flex-col md:flex-row">
          <!-- Left Column - Bio & Links -->
          <aside class="w-full md:w-80 p-6 md:min-h-screen">
            <div class="sticky top-8">
              <div class="flex flex-col items-center space-y-4">
                <img
                  src="/img/logo-kotak-label.png"
                  alt="{SITE_TITLE}"
                  class="w-40"
                />
				<h2 class="text-lg font-bold text-center">Tutorial, Teknologi, Koding dan lainnya 🔥</h2>
                <p class="text-sm text-gray-600 text-center">Berbagi rayapan programmer mulai dari pengalaman, tutorial, produk dan lain sebagainya. </p>
              </div>
              <!-- Links -->
              <div class="mt-6 space-y-3">
				<a
                  target="_blank"
                  href="https://www.youtube.com/@semutdev"
                  class="block w-full p-2 rounded-md border-2 text-center font-semibold text-gray-800 bg-white transition-all duration-200
										shadow-md hover:shadow-xl hover:scale-[1.02] border-red-800"
                >
                  Youtube
                </a>
				<a
                  target="_blank"
                  href="https://www.facebook.com/semutdev/"
                  class="block w-full p-2 rounded-md border-2 text-center font-semibold text-gray-800 bg-white transition-all duration-200
										shadow-md hover:shadow-xl hover:scale-[1.02] border-[#0057B5]"
                >
                  Facebook
                </a>
                <a
                  target="_blank"
                  href="https://www.instagram.com/semutdev"
                  class="block w-full p-2 rounded-md border-2 text-center font-semibold text-gray-800 bg-white transition-all duration-200
										shadow-md hover:shadow-xl hover:scale-[1.02] border-pink-800"
                >
                  Instagram
                </a>
				<a
                  target="_blank"
                  href="https://www.threads.net/@semutdev"
                  class="block w-full p-2 rounded-md border-2 text-center font-semibold text-gray-800 bg-white transition-all duration-200
										shadow-md hover:shadow-xl hover:scale-[1.02] border-black"
                >
                  Threads
                </a>
				<a
                  href="https://kumpul4semut.com"
                  class="block w-full p-2 rounded-md border-2 text-center font-semibold text-gray-800 bg-white transition-all duration-200
										shadow-md hover:shadow-xl hover:scale-[1.02] border-black"
                >
                  Blog
                </a>
              </div>
            </div>
          </aside>
          <!-- Right Column - Products -->
          <section class="flex-1 p-6 md:p-8">
			<!-- Product section -->
			 <div class="my-2">
				<!-- Title rayapan -->
				<h1 class="text-xl font-bold text-center my-4 md:text-left">Rayapan Produk</h1>
				<!-- Products wrap -->
				<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
					{
						products.map((product) => (
							<a
								href={product.data.showDetail == true ? `/produk/${product.id}/` : `${product.data.checkoutUrl}/`}
								class="block cursor-pointer"
								rel="noopener noreferrer"
							>
								<div
								class="border-2 border-gray-600 bg-white rounded-xl overflow-hidden hover:shadow-lg transition-all duration-200 hover:scale-[1.01]"
								>
								<div class="relative">
									<img
									src={product.data.image}
									alt={product.data.title}
									class="w-full h-32 sm:h-40 object-cover bg-[#3b82f6]"
									loading="lazy"
									/>
								</div>
								<div class="p-3 sm:p-4">
									<h2
									class="text-gray-900 text-sm sm:text-base mb-1.5 sm:mb-2 line-clamp-2"
									>
										{product.data.title}
									</h2>
									<div class="flex items-baseline gap-1.5 sm:gap-2">
										<span
										class="text-[#3b82f6] text-base sm:text-lg font-semibold"
										>Rp{product.data.price.toLocaleString('id-ID')}</span
										>
										{product.data.discount != 0 && (
											<span
											class="text-gray-600 text-xs sm:text-sm line-through"
											>Rp{product.data.discount.toLocaleString('id-ID')}</span>
										)}
									</div>
								</div>
								</div>
							</a>
						))
					}
				</div>
				<!-- ./Products wrap -->
			</div>
			<!-- ./Product section -->
			<!-- Blog section -->
			<div class="my-2">
				<!-- Title rayapan -->
				<h1 class="text-xl font-bold text-center my-4 md:text-left">Rayapan Artikel</h1>
				<!-- Artikel wrap -->
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
					<!-- Artikel item -->
					{
						posts.map((post) => (
							<a
								href={`/blog/${post.id}/`}
								class="block cursor-pointer"
							>
								<div
								class="border-2 border-gray-600 bg-white rounded-xl overflow-hidden hover:shadow-lg transition-all duration-200 hover:scale-[1.01]"
								>
								<div class="relative">
									<img
									src={post.data.heroImage}
									alt="Produk tes 1"
									class="w-full h-32 sm:h-40 object-cover bg-[#3b82f6]"
									loading="lazy"
									/>
								</div>
								<div class="p-3 sm:p-4">
									<h2
									class="font-semibold mb-1.5 sm:mb-2 line-clamp-2"
									>
										{post.data.title}
									</h2>
									<p class="font-light">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</div>
								</div>
							</a>
						))
					}
					<!-- ./Artikel item -->
				</div>
			</div>
			<!-- ./Blog section -->
          </section>
        </div>
      </main>
    </main>
  </body>
</html>
