---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <div class="container mx-auto px-0 md:px-4 py-8">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
        <!-- Artikel utama -->
        <div class="md:col-span-2">
          <article
            id="content"
            class="prose max-w-none dark:prose-invert border-0 md:border-2 border-gray-600 px-1.5 md-px-2.5 rounded-xl py-3"
          >
            <h1 class="text-3xl bold text-center md:text-left">{title}</h1>
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="text-center text-2xl">
                  <FormattedDate date={updatedDate} />
                </div>
              )
            }
            <div class="flex justify-center">
              {
                heroImage && (
                  <img
                    class="lazyload max-w-full h-auto"
                    src={heroImage}
                    alt={title}
                  />
                )
              }
            </div>
            <div class="text-lg">
              <slot />
            </div>
          </article>
        </div>

        <!-- Rayapan produk -->
        <aside class="md:col-span:1 px-6 rounded-lg">
          <h2 class="text-xl font-semibold mb-4">Rayapan Produk</h2>
          <a
            href="https://wa.me/6285349448726?text=Assalamualaikum%20bang%20semut%20saya%20mau%20buat%20web%20"
            class="block cursor-pointer"
            target="_blank"
          >
            <div
              class="w-60 border-2 border-gray-600 bg-white rounded-xl overflow-hidden hover:shadow-lg transition-all duration-200 hover:scale-[1.01]"
            >
              <div class="relative">
                <img
                  src="/product/jasa-web.jpg"
                  alt="Produk tes 1"
                  class="w-full h-32 sm:h-40 object-cover bg-[#3b82f6]"
                  loading="lazy"
                />
                <!-- <span class="absolute top-2 left-2 sm:top-3 sm:left-3 bg-[#3b82f6] text-white px-2 py-0.5 rounded-md text-xs sm:text-sm font-medium shadow-sm">Semaumu</span> -->
              </div>
              <div class="p-3 sm:p-4">
                <h2
                  class="text-gray-900 text-sm sm:text-base mb-1.5 sm:mb-2 line-clamp-2"
                >
                  Konsultasi pembuatan, tambah fitur web atau aplikasi
                </h2>
                <div class="flex items-baseline gap-1.5 sm:gap-2">
                  <span
                    class="text-[#3b82f6] text-base sm:text-lg font-semibold"
                    >Rp0</span
                  >
                  <span class="text-gray-600 text-xs sm:text-sm line-through"
                    >Rp5.000.000</span
                  >
                </div>
              </div>
            </div>
          </a>
        </aside>
      </div>
    </div>
    <Footer />
    <script type="module">
      window.addEventListener("DOMContentLoaded", () => {
        const content = document.querySelector("#content");
        const codeBlocks = content.querySelectorAll("pre");

        codeBlocks.forEach((pre) => {
          const button = document.createElement("button");
          button.innerText = "Copy";
          button.className =
            "absolute top-2 right-2 bg-gray-800 text-white text-xs px-2 py-1 rounded hover:bg-gray-700";

          // Pastikan parent relative biar tombol di pojok
          pre.classList.add("relative");
          pre.appendChild(button);

          button.addEventListener("click", () => {
            const code = pre.querySelector("code");
            navigator.clipboard
              .writeText(code.innerText)
              .then(() => {
                button.innerText = "Copied!";
                setTimeout(() => {
                  button.innerText = "Copy";
                }, 2000);
              })
              .catch((err) => console.error("Gagal copy:", err));
          });
        });
      });
    </script>
  </body>
</html>
